
body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
}

table {
  width: calc(100% - 200px);
  margin: 30px 0;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid grey;
}

thead {
  background: grey;
}

thead th {
  position: relative;
}

thead th .remove-btn {
  position: absolute;
  left: 0;
  top: -30px;
  height: 100%;
  border: none;
  background: #E91E63;
  color: white;
  z-index: 100;
  cursor: pointer;
}

td, th {
  border: 1px solid grey;
  text-align: left;
  padding: 0;
  min-width: 100px;
}

th input {
  background: #2196F3;
  color: white;
}

input {
  width: calc(100% - 20px);
  height: 100%;
  padding: 5px 10px;
  margin: 0;
  outline: none;
  font-size: 14px;
  border: none;
}

tr:nth-child(even) input {
  background-color: #dddddd;
}

tbody tr td {
  position: relative;
}

tbody tr td .remove-btn {
  position: absolute;
  left: -85px;
  top: 0;
  height: 100%;
  border: none;
  background: #E91E63;
  color: white;
  z-index: 100;
}

.group-btn {
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
  outline: none;
}

.add-btn {
  border: none;
  background: #03A9F4;
  color: white;
  padding: 15px;
  border: 1px solid #2c97f5;
  font-size: 14px;
  transition: .1s all;
}

.remove-btn {
  border-radius: 4px;
}

.remove-btn:hover {
  background: #d41555;
}

.add-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.add-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.add-btn:hover {
  background: #2c97f5;
}

.download-link {
  margin: 20px 0;
}